@using PANDA.DbModels.Enums;
@{
    ViewData["Title"] = "Home Page";
}
@model PackagesViewModel

@if (User.Identity.IsAuthenticated)
{
    <div>
        @if (User.IsInRole(Role.User.ToString()))
        {
            <h1 class="text-center">Hello, @User.Identity.Name!</h1>
        }
        else if (User.IsInRole(Role.Admin.ToString()))
        {
            <h1 class="text-center">Hello, Administrator @User.Identity.Name!</h1>
        }
        <hr class="border border-dark border-2 opacity-100" />
        <div class="row">
            <div class="col me-5 w-75">
                <h2 class="text-center">Pending</h2>
                <div class="border border-2 border-dark rounded p-3">
                    @if (Model.PendingPackages.Any())
                    {
                        @foreach (var package in Model.PendingPackages)
                        {
                            <div class="d-flex justify-content-between align-items-center my-3">
                                <h5>
                                    @package.Description
                                </h5>
                                <a asp-controller="Packages" asp-action="Details" asp-route-id="@package.Id" class="btn btn-dark">Details</a>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col mx-5 w-75">
                <h2 class="text-center">Shipped</h2>
                <div class="border border-2 border-dark rounded p-3">
                    @if (Model.ShippedPackages.Any())
                    {
                        @foreach (var package in Model.ShippedPackages)
                        {
                            <div class="d-flex justify-content-between align-items-center my-3">
                                <h5>
                                    @package.Description
                                </h5>
                                <a asp-controller="Packages" asp-action="Details" asp-route-id="@package.Id" class="btn btn-dark">Details</a>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col ms-5 w-75">
                <h2 class="text-center">Delivered</h2>
                <div class="border border-2 border-dark rounded p-3">
                    @if (Model.DeliveredPackages.Any())
                    {
                        @foreach (var package in Model.DeliveredPackages)
                        {
                            <div class="d-flex justify-content-between align-items-center my-3">
                                <h5>
                                    @package.Description
                                </h5>
                                <a asp-controller="Packages" asp-action="Acquire" asp-route-id="@package.Id" class="btn btn-dark">Acquire</a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="bg-black text-white py-5 px-3">
        <h1>Welcome to PANDA Delivery Services.</h1>
        <hr class="border border-white border-2 opacity-100" />
        <div>
            <a asp-controller="Users" asp-action="Login" style="color: blue">Login</a> if you have an account.
        </div>
        <div>
            <a asp-controller="Users" asp-action="Register" style="color: blue">Register</a> if you don't.
        </div>
    </div>
}
